{% extends 'appOutletDjango/base.html' %}

{% block title %}Detalles del Coche{% endblock %}

{% block content %}
    <!-- Sección de Detalles del Coche -->
    <div class="container my-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-primary">Detalles del Coche: {{ coche.marca.nombre }} {{ coche.modelo }}</h2>
                <hr>
                <p class="card-text">
                    <strong>Año de Fabricación:</strong> {{ coche.anio }}<br>
                    <strong>Kilometraje:</strong> {{ coche.kilometraje }} km<br>
                    <strong>Color:</strong> {{ coche.color }}<br>
                    <strong>Combustible:</strong> {{ coche.combustible }}<br>
                    <strong>Categorías:</strong> 
                    {% for categoria in coche.categorias.all %}
                        <span class="badge badge-info">{{ categoria.nombre }}</span>
                    {% empty %}
                        <span class="text-muted">Sin Categorías</span>
                    {% endfor %}
                </p>
                <a href="{% url 'listar_coches' %}" class="btn btn-secondary mt-3">Volver a la Lista de Coches</a>
                <a href="{% url 'listar_ofertasCoche' %}" class="btn btn-info mt-3 ml-2">Volver a la Lista de Ofertas</a>
            </div>
        </div>
    </div>
{% endblock %}
