{% extends 'appOutletDjango/base.html' %}
{% load i18n %}

{% block title %}{% trans "Outlet Car - Inicio" %}{% endblock %}

{% block content %}
    <!-- Selector de Idioma -->
    <div class="language-selector text-end my-3">
        <form method="post" action="{% url 'set_language' %}">
            {% csrf_token %}
            <label for="language">{% trans "Seleccionar idioma:" %}</label>
            <select name="language" id="language" onchange="this.form.submit()">
                <option value="es" {% if request.LANGUAGE_CODE == 'es' %}selected{% endif %}>English</option>
                <option value="en" {% if request.LANGUAGE_CODE == 'en' %}selected{% endif %}>Español</option>
            </select>
            <input type="hidden" name="next" value="{{ request.path }}">
        </form>
    </div>

    <!-- Sección de Encabezado Principal -->
    <header class="jumbotron text-center mt-4">
        <h1 class="display-4">{% trans "Bienvenido a Outlet de Coches" %}</h1>
        <p class="lead">{% trans "¡Encuentra las mejores ofertas de coches usados, de las mejores marcas y diferentes categorías!" %}</p>
        <hr class="my-4">
        <p>{% trans "Visita nuestras secciones para conocer más sobre nuestras ofertas de coches, marcas y categorías." %}</p>
        <a class="btn btn-primary btn-lg" href="{% url 'listar_ofertas_destacadas' %}" role="button">{% trans "Ver Ofertas Destacadas" %}</a>
    </header>

    <!-- Sección de Ofertas por Marca -->
    <div class="container my-5">
        <h2 class="text-center text-primary mb-4">{% trans "Ofertas Relevantes por Marca" %}</h2>
        <div class="row">
            {% for oferta in ofertas_por_marca %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ oferta.coche.marca.nombre }} {{ oferta.coche.modelo }} ({{ oferta.coche.anio }})</h5>
                            <p class="card-text">
                                <strong>{% trans "Precio:" %}</strong> {{ oferta.precio }} €<br>
                                {% if oferta.descuento %}
                                    <strong>{% trans "Descuento:" %}</strong> {{ oferta.descuento }} %<br>
                                {% endif %}
                                <strong>{% trans "Disponible:" %}</strong> {{ oferta.disponible|yesno:"Sí,No" }}
                            </p>
                            <a href="{% url 'show_coche' oferta.coche.id %}" class="btn btn-primary">{% trans "Ver Detalles del Coche" %}</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p class="text-center">{% trans "No hay ofertas disponibles en este momento." %}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
