{% extends 'appOutletDjango/base.html' %}

{% block title %}Outlet Car - Inicio{% endblock %}

{% block content %}
    <!-- Sección de Encabezado Principal -->
    <header class="jumbotron text-center mt-4">
        <h1 class="display-4">Bienvenido a Outlet de Coches</h1>
        <p class="lead">¡Encuentra las mejores ofertas de coches usados, de las mejores marcas y diferentes categorías!</p>
        <hr class="my-4">
        <p>Visita nuestras secciones para conocer más sobre nuestras ofertas de coches, marcas y categorías.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'listar_ofertas_destacadas' %}" role="button">Ver Ofertas Destacadas</a>
    </header>

    <!-- Sección de Ofertas por Marca -->
    <div class="container my-5">
        <h2 class="text-center text-primary mb-4">Ofertas Relevantes por Marca</h2>
        <div class="row">
            {% for oferta in ofertas_por_marca %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ oferta.coche.marca.nombre }} {{ oferta.coche.modelo }} ({{ oferta.coche.anio }})</h5>
                            <p class="card-text">
                                <strong>Precio:</strong> {{ oferta.precio }} €<br>
                                {% if oferta.descuento %}
                                    <strong>Descuento:</strong> {{ oferta.descuento }} %<br>
                                {% endif %}
                                <strong>Disponible:</strong> {{ oferta.disponible|yesno:"Sí,No" }}
                            </p>
                            <a href="{% url 'show_coche' oferta.coche.id %}" class="btn btn-primary">Ver Detalles del Coche</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p class="text-center">No hay ofertas disponibles en este momento.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
