{% extends 'appOutletDjango/base.html' %}

{% block title %}Lista de Categorías - Outlet Car{% endblock %}

{% block content %}
    <!-- Sección de Categorías -->
    <div class="container my-5">
        <h1 class="text-center text-primary mb-4">Lista de Categorías</h1>
        <div class="row">
            {% for categoria in categorias %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ categoria.nombre }}</h5>
                            <a href="{% url 'show_categoria' categoria.id %}" class="btn btn-primary">Ver Coches en esta Categoría</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p class="text-center">No hay categorías disponibles en este momento.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
