{% extends 'appOutletDjango/base.html' %}

{% block title %}Lista de Marcas - Outlet de Coches{% endblock %}

{% block content %}
    <!-- Sección de Marcas -->
    <div class="container my-5">
        <h1 class="display-4 text-center text-primary mb-4">Lista de Marcas</h1>
        <ul class="list-group">
            {% for marca in marcas %}
                <li class="list-group-item">
                    <a href="{% url 'show_marca' marca.id %}">
                        {{ marca.nombre }}
                    </a>
                </li>
            {% empty %}
                <p class="text-center">No hay marcas disponibles en este momento.</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
