{% extends 'appOutletDjango/base.html' %}

{% block title %}Coches en la Categoría {{ categoria.nombre }} - Outlet Car{% endblock %}

{% block content %}
    <!-- Sección de Coches en la Categoría -->
    <div class="container my-5">
        <h1 class="text-center text-primary mb-4">Coches en la Categoría: {{ categoria.nombre }}</h1>
        <div class="row">
            {% for coche in coches %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ coche.marca.nombre }} {{ coche.modelo }} ({{ coche.anio }})</h5>
                            <p class="card-text">
                                <strong>Kilometraje:</strong> {{ coche.kilometraje }} km<br>
                                <strong>Color:</strong> {{ coche.color }}<br>
                                <strong>Combustible:</strong> {{ coche.combustible }}<br>
                            </p>
                            <a href="{% url 'show_coche' coche.id %}" class="btn btn-primary">Ver Detalles</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p class="text-center">No hay coches disponibles en esta categoría en este momento.</p>
            {% endfor %}
        </div>
        <a href="{% url 'listar_categorias' %}" class="btn btn-secondary mt-4">Volver a la Lista de Categorías</a>
    </div>
{% endblock %}
